Source: casacore-data
Section: libs
Priority: extra
Maintainer: KERN packaging <packaging@kernsuite.info>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.7
Homepage: http://casacore.github.io/casacore
Vcs-Git: https://github.com/kernsuite-debian/casacore-data
Vcs-Browser: https://github.com/kernsuite-debian/casacore-data

Package: casacore-data
Architecture: all
Depends: ${misc:Depends}
Conflicts: casacore-data-igrf, casacore-data-lines, casacore-data-observatories, casacore-data-sources, casacore-data-tai-utc
Replaces: casacore-data-igrf, casacore-data-lines, casacore-data-observatories, casacore-data-sources, casacore-data-tai-utc
Description: Casacore data files
